header{
    padding: 40px;
    text-align: center;
    background-color: #74C0CB;
    color: #263D40; 
    font-size: x-large;
    font-weight: bold;
    font-family: verdana;
}

footer{
    padding: 30px;
    text-align: center;
    background-color: #74C0CB;
    color: #263D40;
    font-size: large;
    font-weight: bold;
    font-family: verdana;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


.title{
    color: #263D40; 
    font-family: verdana; 
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    padding: 2%;
}

.weather-info{
    color: #263D40;
    font-family: verdana;
    font-size: large;
    font-weight: normal;
    text-align: start;
    padding: 1%;
}

button{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    width: auto;
    min-width: 29%;
    font-size: 250%;
}
