header{
    padding: 40px;
    text-align: center;
    background-color: #74C0CB;
    color: #263D40; 
    font-size: x-large;
    font-weight: bold;
    font-family: verdana;
}

footer{
    padding: 30px;
    text-align: center;
    background-color: #74C0CB;
    color: #263D40;
    font-size: large;
    font-weight: bold;
    font-family: verdana;
}

.pvm { 
    float: left;
    width: 150px; 
    border: 2px solid #689ea7;
    background-color: #74C0CB; 
    margin-left: 0.5%;
    height: 200px; 
    padding: 3px;
    margin-bottom: 2%;
} 


.title{
    color: #263D40; 
    font-family: verdana; 
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    padding: 1%;
}

.info{
    color: #263D40;
    font-family: verdana;
    font-size: small;
    font-weight: normal;
    text-align: start;
    padding: 1%;
}
