header{
    padding: 40px;
    text-align: center;
    background-color: #74C0CB;
    color: #263D40; 
    font-size: x-large;
    font-weight: bold;
    font-family: verdana;
}

footer{
    padding: 30px;
    text-align: center;
    background-color: #74C0CB;
    color: #263D40;
    font-size: large;
    font-weight: bold;
    font-family: verdana;
}

.title{
    color: #263D40; 
    font-family: verdana; 
    font-size: large;
    text-align: left;
}

.info{
    color: #263D40;
    font-family: verdana;
    text-align: center;
}
